.footer {
  width: 100%;
  background: #F4F4F4;
}

.footer__container {
  max-width: 80rem; 
  margin: 0 auto;
  padding: 2.5rem 1rem;
  display: grid;
  grid-template-columns: 18rem 1px 1fr;
  gap: 2.5rem;
  align-items: start;
}

.footer__brand {
  display: grid;
  gap: 1rem;
}

.footer__logo {
  height: 3rem;
  width: auto;
  display: block;
}

.footer__text {
  font-size: 0.8125rem;
  line-height: 1.4;
  color:#3F3F40;
}

.footer__social {
  display: flex;
  gap: 1.625rem;
  align-items: center;
}

.footer__socialBtn {
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  border-radius: 999px;
  color: #3f3f40;
  text-decoration: none;
}

.footer__divider {
  width: 1px;
  height: 100%;
  background: #e9e9e9;
}

.footer__cols {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  margin-top: 2rem;
}

.footer__title {
  font-size: 1rem;
  font-weight: 700;
  color: rgba(34, 34, 34, 0.71);
  margin-bottom: 0.75rem;
  line-height: 1rem;
}

.footer__link {
  display: block;
  font-size: 0.875rem;
  color: rgba(34, 34, 34, 0.71);
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1rem;
  font-family: work-sans, sans-serif;
  
}

.footer__bottom {
  background: #FFFFFF;
  padding: 1rem;
  font-weight: 300;
  font-size: 0.8125rem;
}

.footer__bottomText {
  max-width: 80rem; 
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
  font-size: 0.75rem;
  color: #9f9f9f;
}

/* Responsivo */
@media (max-width: 56rem) {
  .footer__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .footer__divider {
    display: none;
  }

  .footer__cols {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}